html
 head
  title Signup  
 body
  form(action="/users" method="POST")
    input(type="email" name="email" placeholder="Email")
    input(type="password" name="password" placeholder="Password")
    input(type="submit" value="Create account")